<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Welcome to Analoc's Git mirror
                </h1>
                <div class="middle-box text-center loginscreen  animated fadeInDown">
                    <form class="m-t" role="form" ng-submit="submitForm()">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" ng-model="password" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Get in</button>
                    </form>


                </div>

            </div>
        </div>
    </div>
</div>