<div class="wrapper wrapper-content animated fadeInRight">
    <div class="container">
        <div class="form-group">
            <select class="form-control m-b" name="developer" ng-model="chosenDeveloper">
                <option value="def">Choose a developer</option>
                <option ng-repeat="developer in developers" value="{{developers[$index]}}">{{developers[$index]}}</option>
            </select>
        </div>
        <div ng-show="showRepoSelection">
            <H3>Current status for {{chosenDeveloper}}'s local branches</H3>
            <div ng-repeat="repo in chosenDeveloperRepos" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{repo.repo}}</h5>

                    <div class="ibox-tools">
                        <span class="label label-warning-light">Branch: {{repo.branch}}</span><br/>
                        <span class="label label-success-light" tooltip="{{repo.last_commit}}">Head: {{repo.last_commit_id}}</span>
                    </div>
                </div>

                <div class="ibox-content">

                    <div>
                        <div ng-repeat="(key, value) in repo.status" class="feed-activity-list">
                            {{key | changeTitle}}
                            <div class="feed-element">
                                <div style="color: green" ng-show="value.length == 0" class="media-body">
                                    Everything is same as HEAD
                                </div>
                                <div style="color: orange" ng-show="value.length > 0" class="media-body ">
                                    <div ng-repeat="file in value">{{file}}</div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>