/**
 * Author [bend]
 */

'use strict';

module.exports = {
    gitChecker: {
        developerName: '<gitUserName>',
        server: '<gitMirrorServerAndPort>',
        repos: [
            {
                name: '<repoName>',
                path: '<LocalRepoAbsolutePath>'
            }
        ]
    }

}
